In [25]:
import pandas as pd

### Fontes de dados
- App
- Portal
- Comprar de outras plataformas

### Tipos de dtabase
Transacional - entradas e saídas, updates (dinamico) (filme)
Informacional - Estático, não muda muito (foto)

### Tratamento de dados

- quando se trabalha na area de dados você cuida de dados que seão masi estáticos, que são pouco modificados, enquanto isso, o pessoal de sistemas cuida da parte transacional dos dados (a parte mais dinâmica)

### Tomada de decisão

- Nosso papel como cientistas de dados é contribuir para uma melhor tomada de decisão, e fazemos isso utilizando dashboards, modelos lógicos etc...

- Quando os dados são de baixa qualidade o estudo se torna inviável e requer um enriquecimento de dados ou a criação de dados sintéticos
* Enriquecimento: Comprar bases de dados de outras instituições
* Geração de dados sintéticos: Criação de dados

- Pipeline = Lista de coisas a fazer

### Tipos de bancos de dados

- Data lake: dinâmico, recebe vários tipos de dados estruturados e não estruturados em diversas escalas
- Data Warehouse: base de dados como um excel feita em planilhas
- Data set
- Data mesh: Um data mart só que pra engenharia de dados (conceito mais novo) (mesclagem) 
- Data mart: Banco de dados por grupo de negócio

In [26]:
from sklearn.datasets import load_iris

base_iris = load_iris()

In [27]:
base_iris = pd.DataFrame(columns=base_iris.feature_names)

In [28]:
base = pd.read_csv("churn.csv", sep=";")

In [29]:
base

       X0   X1  X2         X3  X4  X4.1        X6  X7  X8  X9         X10  X11
0       1  619  RS   Feminino  42     2         0   1   1   1  10134888.0    1
1       2  608  SC   Feminino  41     1   8380786   1   0   1  11254258.0    0
2       3  502  RS   Feminino  42     8   1596608   3   1   0  11393157.0    1
3       4  699  RS   Feminino  39     1         0   2   0   0   9382663.0    0
4       5  850  SC   Feminino  43     2  12551082   1   1   1    790841.0    0
..    ...  ...  ..        ...  ..   ...       ...  ..  ..  ..         ...  ...
994   996  838  SC  Masculino  43     9  12310588   2   1   0  14576583.0    0
995   997  610  SC  Masculino  29     9         0   3   0   1   8391224.0    0
996   998  811  SC  Masculino  44     3         0   2   0   1   7843973.0    0
997   999  587  SC  Masculino  62     7  12128627   1   0   1    677692.0    0
998  1000  811  PR   Feminino  28     4  16773882   2   1   1    990342.0    0

[999 rows x 12 columns]

In [30]:
base = base.replace({"F": "Feminino", "Fem": "Feminino", "M": "Masculino"})

In [31]:
base

       X0   X1  X2         X3  X4  X4.1        X6  X7  X8  X9         X10  X11
0       1  619  RS   Feminino  42     2         0   1   1   1  10134888.0    1
1       2  608  SC   Feminino  41     1   8380786   1   0   1  11254258.0    0
2       3  502  RS   Feminino  42     8   1596608   3   1   0  11393157.0    1
3       4  699  RS   Feminino  39     1         0   2   0   0   9382663.0    0
4       5  850  SC   Feminino  43     2  12551082   1   1   1    790841.0    0
..    ...  ...  ..        ...  ..   ...       ...  ..  ..  ..         ...  ...
994   996  838  SC  Masculino  43     9  12310588   2   1   0  14576583.0    0
995   997  610  SC  Masculino  29     9         0   3   0   1   8391224.0    0
996   998  811  SC  Masculino  44     3         0   2   0   1   7843973.0    0
997   999  587  SC  Masculino  62     7  12128627   1   0   1    677692.0    0
998  1000  811  PR   Feminino  28     4  16773882   2   1   1    990342.0    0

[999 rows x 12 columns]

In [32]:
base.groupby("X3").count()

            X0   X1   X2   X4  X4.1   X6   X7   X8   X9  X10  X11
X3
Feminino   464  464  464  464   464  464  464  464  464  459  464
Masculino  527  527  527  527   527  527  527  527  527  525  527

In [33]:
base.groupby("X2").count()

     X0   X1   X3   X4  X4.1   X6   X7   X8   X9  X10  X11
X2
PR  257  257  255  257   257  257  257  257  257  253  257
RP    1    1    1    1     1    1    1    1    1    1    1
RS  478  478  474  478   478  478  478  478  478  476  478
SC  258  258  256  258   258  258  258  258  258  257  258
SP    4    4    4    4     4    4    4    4    4    4    4
TD    1    1    1    1     1    1    1    1    1    1    1

In [36]:
base.columns= ["ID", 'Score']

ValueError: Length mismatch: Expected axis has 12 elements, new values have 2 elements

In [34]:
base_genero = base[(base["X2"] == "PR") & base["X3"] == "Feminino"]

In [35]:
base_genero

Empty DataFrame
Columns: [X0, X1, X2, X3, X4, X4.1, X6, X7, X8, X9, X10, X11]
Index: []