# Realizando importações

In [46]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [47]:
base = pd.read_csv('mobile.csv')

### Analisando e tratando variáveis

In [48]:
# ["blue", "dual_sim", "four_g", "three_g", "touch_screen", "wifi", "value_counts" ]

base.dtypes

battery_power      int64
blue               int64
clock_speed      float64
dual_sim           int64
fc                 int64
four_g             int64
int_memory         int64
m_dep            float64
mobile_wt          int64
n_cores            int64
pc                 int64
px_height          int64
px_width           int64
ram                int64
sc_h               int64
sc_w               int64
talk_time          int64
three_g            int64
touch_screen       int64
wifi               int64
price_range        int64
dtype: object

In [49]:
base.iloc[:, 0:20]

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,14,1222,1890,668,13,4,19,1,1,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,3,915,1965,2032,11,10,16,1,1,1
1997,1911,0,0.9,1,1,1,36,0.7,108,8,3,868,1632,3057,9,1,5,1,1,0
1998,1512,0,0.9,0,4,1,46,0.1,145,5,5,336,670,869,18,10,19,1,1,1
1999,510,1,2.0,1,5,1,45,0.9,168,6,16,483,754,3919,19,4,2,1,1,1

In [50]:
base.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [51]:
#1 - Faça a dummificação nas variáveis categóricas.

categorica = pd.get_dummies(["blue", "dual_sim", "four_g", "three_g", "touch_screen", "wifi"], dtype=int)
categorica

   blue  dual_sim  four_g  three_g  touch_screen  wifi
0     1         0       0        0             0     0
1     0         1       0        0             0     0
2     0         0       1        0             0     0
3     0         0       0        1             0     0
4     0         0       0        0             1     0
5     0         0       0        0             0     1

In [52]:
base2 = base.drop(columns=["blue", "dual_sim", "four_g", "three_g", "touch_screen", "wifi"])
base2

,battery_power,clock_speed,fc,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,price_range
0,842,2.2,1,7,0.6,188,2,2,20,756,2549,9,7,19,1
1,1021,0.5,0,53,0.7,136,3,6,905,1988,2631,17,3,7,2
2,563,0.5,2,41,0.9,145,5,6,1263,1716,2603,11,2,9,2
3,615,2.5,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,2
4,1821,1.2,13,44,0.6,141,2,14,1208,1212,1411,8,2,15,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,0.5,0,2,0.8,106,6,14,1222,1890,668,13,4,19,0
1996,1965,2.6,0,39,0.2,187,4,3,915,1965,2032,11,10,16,2
1997,1911,0.9,1,36,0.7,108,8,3,868,1632,3057,9,1,5,3
1998,1512,0.9,4,46,0.1,145,5,5,336,670,869,18,10,19,0
1999,510,2.0,5,45,0.9,168,6,16,483,754,3919,19,4,2,3

In [74]:


x = base2.drop(columns=["price_range"])
y = base2["price_range"]

xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.25, random_state= 200,stratify=y)

In [75]:
model = DecisionTreeClassifier()
model.fit(xtrain,ytrain)
model.acuracacia = model.score(xtest, ytest)
model.acuracacia

0.826

In [73]:
modelo2 = RandomForestClassifier()
modelo2.fit(xtrain, ytrain)
modelo2.acuracia = model.score(xtest,ytest)
modelo2.acuracia

0.832

In [57]:
#2 - Separes as bases em variáveis independentes e dependentes.
#3 - Crie a base de treino e de teste.
#4 - Crie o classificador
#5 - Avalie o classificador