In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\rcm20\appdata\local\programs\python\python312\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\rcm20\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rcm20\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rcm20\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rcm20\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\rcm20\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [3]:
base = pd.read_csv('breast-cancer-dataset.csv')

In [4]:
base

,S/N,Year,Age,Menopause,Tumor Size (cm),Inv-Nodes,Breast,Metastasis,Breast Quadrant,History,Diagnosis Result
0,1,2019,40,1,2,0,Right,0,Upper inner,0,Benign
1,2,2019,39,1,2,0,Left,0,Upper outer,0,Benign
2,3,2019,45,0,4,0,Left,0,Lower outer,0,Benign
3,4,2019,26,1,3,0,Left,0,Lower inner,1,Benign
4,5,2019,21,1,1,0,Right,0,Upper outer,1,Benign
...,...,...,...,...,...,...,...,...,...,...,...
208,209,2020,49,1,6,3,Right,1,Lower inner,1,Malignant
209,210,2020,28,1,3,0,Left,0,Upper inner,0,Benign
210,211,2020,22,1,1,0,Left,0,Upper outer,1,Benign
211,212,2020,19,1,1,0,Left,0,Lower inner,1,Benign
212,213,2020,50,0,4,0,Right,0,Lower outer,1,Benign

In [5]:
#1 - Apague a coluna S/N
base.drop(columns=["S/N"], inplace=True)
#2 - Faça a dummificação nas variáveis categóricas.
conv = {
    "Benign": 0,
    "Malignant": 1
}
type(base["Metastasis"][0])

str

In [6]:
base = base[(base["Metastasis"] == "0") | (base["Metastasis"] == "1")].copy()

base["Metastasis"] = pd.to_numeric(base["Metastasis"])
    # base.loc[base["Metastasis"] != "0" and base["Metastasis"] != "1"]
    
    # convert = int(item)

    # item = convert

In [7]:
base["Diagnosis Result"] = base["Diagnosis Result"].map(conv)
base.drop(columns=["Breast"], inplace=True)

categories = base[["Menopause", "Metastasis","Breast Quadrant", "History"]]
categorica = pd.get_dummies(categories)

In [8]:
#3 - Separes as bases em variáveis independentes e dependentes.
base.drop(columns=["Menopause", "Metastasis", "History","Breast Quadrant"], inplace= True)
base

     Year  Age Tumor Size (cm) Inv-Nodes  Diagnosis Result
0    2019   40               2         0                 0
1    2019   39               2         0                 0
2    2019   45               4         0                 0
3    2019   26               3         0                 0
4    2019   21               1         0                 0
..    ...  ...             ...       ...               ...
208  2020   49               6         3                 1
209  2020   28               3         0                 0
210  2020   22               1         0                 0
211  2020   19               1         0                 0
212  2020   50               4         0                 0

[212 rows x 5 columns]

In [9]:
categorica

,Menopause,Metastasis,Breast Quadrant_#,Breast Quadrant_Lower inner,Breast Quadrant_Lower outer,Breast Quadrant_Upper inner,Breast Quadrant_Upper outer,Breast Quadrant_Upper outer,History_#,History_0,History_1
0,1,0,False,False,False,True,False,False,False,True,False
1,1,0,False,False,False,False,True,False,False,True,False
2,0,0,False,False,True,False,False,False,False,True,False
3,1,0,False,True,False,False,False,False,False,False,True
4,1,0,False,False,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
208,1,1,False,True,False,False,False,False,False,False,True
209,1,0,False,False,False,True,False,False,False,True,False
210,1,0,False,False,False,False,True,False,False,False,True
211,1,0,False,True,False,False,False,False,False,False,True
212,0,0,False,False,True,False,False,False,False,False,True

In [10]:
base

     Year  Age Tumor Size (cm) Inv-Nodes  Diagnosis Result
0    2019   40               2         0                 0
1    2019   39               2         0                 0
2    2019   45               4         0                 0
3    2019   26               3         0                 0
4    2019   21               1         0                 0
..    ...  ...             ...       ...               ...
208  2020   49               6         3                 1
209  2020   28               3         0                 0
210  2020   22               1         0                 0
211  2020   19               1         0                 0
212  2020   50               4         0                 0

[212 rows x 5 columns]

In [22]:
base["Tumor Size (cm)"] = pd.to_numeric(base["Tumor Size (cm)"])
base["Inv-Nodes"] = pd.to_numeric(base["Inv-Nodes"])
base["Year"] = pd.to_numeric(base["Year"])

In [23]:
type(base["Year"][6])

numpy.int64

In [24]:
nbase = pd.concat([base, categorica], axis=1)

In [25]:
nbase

,Year,Age,Tumor Size (cm),Inv-Nodes,Diagnosis Result,Menopause,Metastasis,Breast Quadrant_#,Breast Quadrant_Lower inner,Breast Quadrant_Lower outer,Breast Quadrant_Upper inner,Breast Quadrant_Upper outer,Breast Quadrant_Upper outer,History_#,History_0,History_1
0,2019,40,2,0,0,1,0,False,False,False,True,False,False,False,True,False
1,2019,39,2,0,0,1,0,False,False,False,False,True,False,False,True,False
2,2019,45,4,0,0,0,0,False,False,True,False,False,False,False,True,False
3,2019,26,3,0,0,1,0,False,True,False,False,False,False,False,False,True
4,2019,21,1,0,0,1,0,False,False,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,2020,49,6,3,1,1,1,False,True,False,False,False,False,False,False,True
209,2020,28,3,0,0,1,0,False,False,False,True,False,False,False,True,False
210,2020,22,1,0,0,1,0,False,False,False,False,True,False,False,False,True
211,2020,19,1,0,0,1,0,False,True,False,False,False,False,False,False,True
212,2020,50,4,0,0,0,0,False,False,True,False,False,False,False,False,True

In [31]:
#determi8nando as bases de treino x e y

y = nbase["Diagnosis Result"]
x = nbase.drop(columns=["Diagnosis Result"])

In [62]:
#4 - Crie a base de treino e de teste.
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.3, random_state=28)

# print("Número de amostras em xtrain:", len(xtrain))
# print("Número de amostras em ytrain:", len(ytrain))
#5 - Crie o classificador
modelo = DecisionTreeClassifier()

modelo.fit(xtrain, ytrain)



predito = modelo.predict(xtest)
# predito = pd.Series(predito, name="valor predito")
# real = pd.Series(ytest, name = "valor real")

# modelo_resultados = pd.concat([predito, real], axis=1)

# modelo_resultados


#6 - Avalie o classificador
acuracia = (ytest == predito).mean()
print(f"O modelo acertou {acuracia*100}% das previsões")

O modelo acertou 82.8125% das previsões