In [2]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
df = pd.DataFrame([[2,3,4,6,4,40,5],[5,7,9,13,9,81,11]]).T
df.columns = ['Km rodados','Valor cobrado']

df

   Km rodados  Valor cobrado
0           2              5
1           3              7
2           4              9
3           6             13
4           4              9
5          40             81
6           5             11

In [4]:
#Comandos
#1 - mean
#2 - iloc
#3 - LinearRegression
#4 - fit
#5 - coef_
#6 - intercept_
#7 - pd.DataFrame 
#8 - predict
#9 - reset_index
#10 - concat

In [5]:
#1
#Imprima a média de Km rodados e de Valor cobrado

df

display(df["Km rodados"].mean())
display(df["Valor cobrado"].mean())

9.142857142857142

19.285714285714285

In [16]:
#2
#Defina as bases de treino. Use os 5 primeiros exemplos pra criar a equação. Os dois últimos vou usar pra testar a equação.
#Para isso, use o comando 2.

x = df[["Km rodados"]]
y = df[["Valor cobrado"]]

xtrain,ytrain,xtest,ytest = train_test_split(x,y, train_size=0.7)

xtrain = df[['Km rodados']].iloc[:5]
ytrain = df['Valor cobrado'].iloc[:5]


#3
#Crie uma instância de uma regressão, Use o comando 3.

modelo = LinearRegression()


#4
#Treine o modelo usando o comando 4.
modelo.fit(xtrain,ytrain)

#5
#Mostra a primeira parte da equação, o coeficiente. Use o comando 5.
modelo.coef_
#6
#Mostra a segunda parte da equação, o intercept. Use o comando 6. 
modelo.intercept_

0.9999999999999982

In [ ]:
display(xtrain)
display(ytrain)

   Km rodados
0           2
2           4
5          40
4           4

   Km rodados
1           3
6           5
3           6

In [33]:
#7
#Use a equação criada pra prever os dois valores de teste. Crie um dataframe. Use os comandos 7 e 8.

modelo.predict([[50]])

#8
#Crio uma estrutura com os dados reais, que são aqueles da base original, pra ver se a equação realmente acertou os exemplos. Use os comandos 2 e 9.

#9
#Coloque os dois na mesma estrutura pra comparar. Use o comando 10.

#10
#Imprima os resultados os colocando na mesma estrutura.

c:\Users\rcm20\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([101.])

In [34]:
import pickle

In [35]:
output = open("modeloTaxi", 'wb')
pickle.dump(modelo,output)
output.close()